body {
  background-image: url(https://c.static-nike.com/a/images/gq4zw6tlx3hdo4461cmf/air-jordan-3.png);
  margin-left: 200px;
  margin-right: 100px;
  margin-left: 300px;
  margin-right: 300px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  opacity: 0.8;
  text-align: center;
  text-decoration: underline;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: x-large;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
