body {
  background-image: url(https://c.static-nike.com/a/images/gq4zw6tlx3hdo4461cmf/air-jordan-3.png);
}
/* nav bar */
ul {
  list-style: none;
}
li {
  display: inline;
}
.home {
  margin-left: -500px;
  position: fixed;
}
.navbar {
  position: fixed;
  border-top: 1px solid white;
  border-bottom: 2px solid white;
  padding: 0 500px;
  background-image: url(https://c.static-nike.com/a/images/gq4zw6tlx3hdo4461cmf/air-jordan-3.png);
  width: 100%;
  z-index: 5;
}
.nav-options {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 3px;
}
.nav-options a:hover {
  background-color: maroon;
  color: white;
  border-radius: 50%;
}
.navbar a {
  color: white;
}
a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* big picture and quote */
.jordan {
  margin-top: 60px;
  width: 100%;
}
.jordan-text {
  position: absolute;
  font-size: xx-large;
  color: white;
  margin-top: 175px;
  margin-left: 600px;
}
/* header */
h1 {
  color: white;
  text-align: center;
}
/* shoe gallery */
div.gallery {
  margin: 5px;
  float: left;
  width: 477px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}