body {
  background-image: url(https://c.static-nike.com/a/images/gq4zw6tlx3hdo4461cmf/air-jordan-3.png);
}
/* nav bar */
ul {
  list-style: none;
}
li {
  display: inline;
}
.home {
  margin-left: -500px;
  position: fixed;
}
.navbar {
  position: fixed;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 0 500px;
  background-image: url(https://c.static-nike.com/a/images/i7uaonkqzhahrozhpake/air-jordan-20.png);
  width: 100%;
  z-index: 5;
}
.nav-options {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 3px;
}
.nav-options a:hover {
  background-color: maroon;
  color: white;
  border-radius: 50%;
}
.navbar a {
  color: white;
}
a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* slideshow */
.mySlides {
  display: none;
  width: 1174.825px;
  height: 700px;
  margin-left: -50px;
}
.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.w3-black {
  color: #fff !important;
  background-color: #000 !important;
}
.w3-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}
.w3-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}
.w3-content {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.w3-display-container {
  position: relative;
}
.w3-display-container :hover{
  display: block;
}
/* quote 1 */
#quote1 {
  background-image: url("https://c.static-nike.com/a/images/rtriegkcysvl9ut0fxco/air-jordan-1.png");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* quote */
#quote2 {
  background-image: url("https://c.static-nike.com/a/images/ibdhk9uiksm0vdvn86ca/air-jordan-2.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* shoe gallery */
table{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
div.gallery {
  margin: 5px;
  float: left;
  width: 477px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/* history */
h1{
  text-align: center;
  text-size-adjust: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline white;
}
p{
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
}
/* footer */
.footer{
  color: white;
  background-image: url(https://c.static-nike.com/a/images/i7uaonkqzhahrozhpake/air-jordan-20.png);
  padding: 15px 15px 15px 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 2px solid white;
}
.footer a:hover {
  background-color: maroon;
  color: white;
  border-radius: 50%;
}

/* big pic */
#big{
  margin-left: 275px;
}

